
    <nav class=" w-100 navbar navbar-dark secondaryColor sticky-top" th:fragment="navBar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/docs/{i} (i = ${image.logo1})}"
                     alt="" width="35" class="d-inline-block align-text-top">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">SIGEV</a>
                </li>
            </ul>
            <a class="d-flex navbar-brand" href="#">
                <img th:src="@{/docs/{i} (i = ${image.logo2})}"
                     alt="" width="55" class="d-inline-block align-text-top">
            </a>
        </div>

    </nav>


