<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <style>
        :root {
            --main: [[${color.colorMain}]];
            --secondary: [[${color.colorSecundary}]];
            --textMain: [[${color.colorText}]];
            --textSecondary: [[${color.colorTitle}]];
        }
    </style>

</head>

<body>
    <div class="d-flex">
        <div th:insert="~{fragments/sideBar :: sideBar}"></div>


        <div class="w-100">
            <div th:insert="~{fragments/navBar :: navBar}"></div>

            <!-- contenido de pagina -->
            <div id="content">
                <div class="container d-flex align-items-center ">
                    <h1>Categorías</h1>
                    <button class="btn btn-add ms-auto "><a th:href="@{/category/create}">Registrar <i class="fa-solid fa-plus "></i></a></button>
                </div>
                <div class="container">

                    <hr size="5px">
                    <div class="container">
                        <table class="table " id="categoriasTable">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tmpCategory, iter : ${listCategories}">
                                    <th class="text-center" th:text="${iter.index + 1}"></th>
                                    <td class="text-start" th:text="${tmpCategory.name}"></td>
                                    <td class="text-end"><h6 th:class="${tmpCategory.status == 1 ? 'text-success' : 'text-danger'}"><i  class="fa-solid fa-circle"></i></h6></td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><a th:href="@{/category/desactivate/{id} (id=${tmpCategory.id})}"><i
                                                class="fa-solid fa-power-off"></i></a></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><a th:href="@{/category/edit/{id} (id=${tmpCategory.id})}"><i
                                                class="fa-solid fa-pen-to-square "></i></a></button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script th:src="@{/js/nav.js}"></script>
    <scrip th:src="@{/js/bootstrap.bundle.min.js}"></scrip>
    <script th:src="@{/js/toast.min.js}"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
    <script th:if="${msg_success != null}">
        new Toast({
            message: "[[${msg_success}]]",
            type: "success",
        });
    </script>
    <script th:if="${msg_error != null}">
        new Toast({
            message: "[[${msg_error}]]",
            type: "danger",
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#categoriasTable').DataTable();
        });
        var tableData = $('#categoriasTable').DataTable({
            ordering: false,
            language: {
                processing: "",
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoEmpty: "No hay registros para mostrar",
                infoFiltered: "(filtrado de _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron registros coincidentes",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                }
            }
        });
    </script>
</body>

</html>